* {
    max-width: 480px;
}
header {
    background-color: black;
    width: 480%;
    height: 40px;
    display: flex;
}
nav {
    display: inline-block;
    display: flex;
    align-items: center;
    position: absolute;
    left: 27%;
    background-color: black;
    height: 40px;
}
.logo {
    position: absolute;
    width: 80px;
    padding: 8px;
}
li {
    display: inline;
    text-decoration: none;
    background-color: black;
    font-size: small;
}
li a {
    color: white;
    text-decoration: none;
    list-style: none;
    background-color: black;
}
.hero {
    width: 480px;
    height: 600px;
    background-color: rgb(73, 145, 204);
    color: white;
    display: flex;
    display: block;
}
.hero h1 {
    font-size: 45px;
    padding-top: 130px;
    padding-left: 20px;
}
.subtitle {
    font-size: 25px;
    font: bold;
    word-spacing: 5px;
    padding-left: 20px;
    padding-top: 20px;
}
.info {
    font-size: 15px;
    word-break: keep-all;
    padding-left: 20px;
    padding-top: 40px;
}
.hero div {
    padding-left: 20px;
}
.boton {
    background-color: green;
    border-radius: 20px;
    display: block;
}
div a {
    align-items: center;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    width: 380px;
    height: 50px;
    justify-content: center;
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}
